# Ignore everything in html_reports folder
data/html_reports/

# Ignore everything in csv_reports folder
data/csv_reports/

# Ignore everything in json_reports folder
data/json_reports/

# Ignore everything in rss_sources_private folder
data/rss_sources_private

# Ignore everything in cache folder
data/cache

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment
venv/

# Ignore any other unnecessary files
.DS_Store

# Ignore GitHub config folder
.github/

# Ignore docs folder
docs/