<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberFeedBites News from {earliest_date} UTC to {current_date} UTC</title>
    <link rel="stylesheet" type="text/css" href="../templates/style.css">
</head>
<body>
    <h1>CyberFeedBites News from {earliest_date} UTC to {current_date} UTC</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Date (UTC)</th>
            <th>Website</th>
            <th>Logo</th>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        {rows}
    </table>
</body>
</html>
