<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{top_text} from {earliest_date} {timezone_print} to {current_date} {timezone_print}</title>
    <link rel="stylesheet" type="text/css" href="../templates/style.css">
</head>
<body>
    <h1>{top_text} from {earliest_date} {timezone_print} to {current_date} {timezone_print}</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Date/Time (UTC)</th>
            <th colspan="2">Website</th>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        {rows}
    </table>
</body>
</html>
