<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{opml_title} - {opml_text} from {start_date_str} {timezone_print} to {end_date_str} {timezone_print}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/materia/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../templates/style.css">
</head>
<body>
    <h1>Title: {opml_title}</h1>
    <h2>Category: {opml_category}</h2>
    <h2>{opml_text} from {start_date_str} {timezone_print} to {end_date_str} {timezone_print}</h2>
    <div class="table-wrapper">
        <table>
            <tr>
                <th>Date/Time (UTC)</th>
                <th colspan="2">Website</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
            {rows}
        </table>
    </div>
    <footer style="text-align:center; margin-top: 20px; font-size: 0.9em; color: #666;">
    Powered by <a href="https://github.com/dsgandurra/cyberfeedbites/" target="_blank" rel="noopener noreferrer">CyberFeedBites</a>
</footer>
</body>
</html>